{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>低分辨率检测</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/detections.css' %}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div id="header"></div>
    <div class="layui-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree layui-nav-side">
                <li class="layui-nav-item layui-this"><a href="/detections/low_resolution">低分辨率检测</a></li>
                <li class="layui-nav-item"><a href="/detections/cross_gan/">跨GAN检测</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div class="scenery">
            <h1>问题场景</h1>
            <div class="question">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尽管现有的检测算法在相应的数据集上有不错的效果，但是在真实场景中的性能却不理想。在现实场景中，视频或图像的传播过程中往往会引入分辨率以及画质上的损失，这将影响现有检测模型的特征提取能力，从而导致检测性能的下降。
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对该场景，平台集成了多个算法用于低分辨率图像的检测，并取得了不错的效果。
            </div>
        </div>
        <div class="detect">
            <h1>检测流程</h1>
            <div class="select1">
                <p>1. 算法选择</p>
                <div class="fun-select layui-form">
                    <input type="checkbox" name="two" title="双分支神经网络" value="two">
                    <input type="checkbox" name="B" title="方法B" value="B">
                    <input type="checkbox" name="C" title="方法C" value="C">
                </div>
            </div>
            <div class="select2">
                <p>2. 图片选择</p>
                <button class="layui-btn" id="pic-select" onclick="clearPreview()">+</button>
                <div class="preview"></div>
            </div>
            <div class="upload">
                <p>3. 图片上传</p>
                <div class="upload-btn">
                    <button id="pic-upload" onclick="upload()"><i class="layui-icon layui-icon-upload"></i>&nbsp;&nbsp;上传
                    </button>
                </div>
            </div>
            <div class="result">
                <p>4. 检测结果</p>
                <div class="tip">
                    <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
                    <br>上传检测中
                </div>
                <div class="reslist">
                    <table class="layui-table" lay-skin="row">
                        <colgroup>
                            <col width="40%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>图片</th>
                            <th>双分支神经网络</th>
                            <th>方法B</th>
                            <th>方法C</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><img src="{% static 'images/back1.jpeg' %}"></td>
                            <td>假（97.5%）</td>
                            <td>假（92.5%）</td>
                            <td>假（91.9%）</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'images/back2.jpeg' %}"></td>
                            <td>真（63.5%）</td>
                            <td>假（97.5%）</td>
                            <td>假（56.5%）</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="height: 30px"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script>
    $('#header').load('/common/header/', function (responseTest, textStatus, XMLHttpRequest) {
        $('.menu1 .layui-nav').children().eq(0).addClass('layui-this');
    });
    var files;
    var count = 0;
    layui.use(['form', 'upload'], function () {
        var upload = layui.upload;
        var form = layui.form;
        upload.render({
            elem: '#pic-select'
            , accept: 'images'
            , acceptMime: 'image/jpg,image/png,image/jpeg'
            , number: 3
            , auto: false
            , multiple: true
            , bindAction: '#pic'
            , choose: function (obj) {
                files = this.files = obj.pushFile();
                var f = $(".preview");
                obj.preview(function (index, file, result) {
                    {#console.log(index); //得到文件索引#}
                    {#console.log(file); //得到文件对象#}
                    {#console.log(result); //得到文件base64编码，比如图片#}
                    var str = '<div class="pic"><img id="' + file.name.substr(0, file.name.indexOf(".")) + '" src="' + result + '"/></div>';
                    f.append(str);
                    count++;
                });
            }
            , before: function (obj) {

            }
            , error: function (index, upload) {
                console.log('network is wrong')
            }
            , done: function (res, index, upload) { //每个文件提交一次触发一次。详见“请求成功的回调”
                console.log(res);
            }
        });
    });

    function clearPreview() {
        var f = $('.preview');
        f.empty();
        {#清空文件队列#}
        for (var x in files) {
            delete files[x];
        }
        count2 = 0;
        var result = $(".result");
        var reslist = $(".reslist");
        reslist.empty();
        result.hide();
    };

    function upload() {
        var reslist = $(".reslist");
        reslist.empty();
        console.log(count);
        var funcs = [];
        $('input[type=checkbox]:checked').each(function () {
            funcs.push($(this).val());
        });
        if (funcs.length > 0) {
            if (count > 0) {
                var f = $(".result");
                f.show();
                $('.layui-body').animate({
                    scrollTop: 1400
                }, 500);
                var form = new FormData();
                form.append('count', count);
                var funcs = [];
                $('input[type=checkbox]:checked').each(function () {
                    funcs.push($(this).val());
                });
                form.append('funcs', funcs);
                console.log(funcs);
                var c = 0;
                for (let i in files) {
                    form.append('files' + c, files[i]);
                    c++;
                }
                $.ajax({
                    url: '/detections/two_stream_detect/',
                    type: 'POST',
                    async: true,// 异步上传
                    data: form,
                    dataType: "json",
                    processData: false,
                    // 告诉jQuery不要去设置Content-Type请求头
                    contentType: false,
                    success: function (data) {
                        $('.tip').hide();
                        var reslist = $('.reslist');
                        console.log(data);
                        var len = data.length;
                        for (var i = 0; i < len; i++) {
                            var str = '<div class="res"><div class="pic"><img src="' + $('#' + data[i].name.substr(0, data[i].name.indexOf(".")))[0].src + '"/></div>';
                            str += '<div class="text">该图片为'
                            if (data[i].output[0] > data[i].output[1]) {
                                str += '<i>真</i>, 概率为<i>' + (data[i].output[0] * 100).toFixed(2) + '%</i></div>';
                            } else {
                                str += '<i>假</i>, 概率为<i>' + (data[i].output[1] * 100).toFixed(2) + '%</i></div>';
                            }
                            str += '</div>';
                            reslist.append(str);
                        }
                    },
                    error: function () {
                        {#layer.msg('出现错误', {icon: 5});#}
                        window.location.href = '/user/login/';
                    },
                });
            } else {
                layer.msg('请先选择图片', {icon: 5});
            }
        } else {
            layer.msg('请选择至少一种算法', {icon: 5});
        }
    }
</script>
</html>